body{
    margin: 0;
    padding: 0;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
    color: white;
    background-color: #2F2A85;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
}
main{
    display: grid;
    grid-template-columns: 30vw 1fr;
}
form {
    padding: 1em;
    background-color: #ddd;
}
  
form div + div {
    margin-top: 1em;
}
  
label {
    display:block;
    padding-left: 10px;
}
  
input, textarea {
    font-size: 1em;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #999999;
}
  
input:focus, textarea:focus {
    border-color: #000;
}
  
textarea {
    vertical-align: top;
    height: 5em;
}
  
.button {
    padding-left: 90px;
}
  
button {
    margin-left: .5em;
}

.copy{
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 5px 7px;
}
footer.footer {
	text-align: center;
    color: white;
    background-color: #2F2A85;
	padding: 20px;
}
footer h2{
	margin: 0;
}